{% extends "base.html" %}

{% block title%}French Langportal{% endblock %}

    			{% block content1 %} <h1> English: {{ word_details.english }} </h1> {% endblock %}
                {% block content2 %} <h1> French: {{ french }} </h1> {% endblock %}
    			{% block content3 %} <h1> Type: {{ word_details.type }}</h1> {% endblock %}
    			{% block content4 %} <h1> Description: {{ word_details.description }}</h1> {% endblock %}
    			{% block content5 %} <a href="{% url 'french:index' %}" class="btn btn-large btn-success">New Word</a> {% endblock %}


