{% extends "base.html" %}

{% block title %}Complete the Test!{% endblock %}



    			{% block content1 %} <h1> English: {{ word_details.english }} </h1> {% endblock %}
                
    			{% block content2 %} <h1> Description: {{ word_details.description }}</h1> {% endblock %}
    			{% block content3 %} <h1> Type: {{ word_details.type }}</h1> {% endblock %}
    			{% block content4 %} 
    								{% if word_details %}
											<form action="{% url 'french:checkanswers' %}" method="post">
											{% csrf_token %} 
        									Please enter your answer:  <input type="text" name="{{ word_details.id }}" id="word" />
    										<input type="submit" value="Check Answers" />		
											</form>
									{% else %}
    										<p>No words are available.</p>
									{% endif %}
    	    	{% endblock %}

  				{% block content5 %}<a href="{% url 'french:index' %}" class="btn btn-large btn-success">New Word</a> {% endblock %}






